<section id="nosotros" class="bg-custom-pattern02 scroll-mt-10">

  <div class="py-8 px-14 md:px-36">
    <div class="text-center px-4 pb-6">
      <h1 class="text-2xl font-extrabold text-azulprim mt-2 mb-4">NOSOTROS</h1>
      <p class="animacion animado text-base mb-6">
        Nuestro equipo está listo para recibirte con atención personalizada y
        profesional, porque tu sonrisa lo merece.
      </p>

      <div class="flex flex-col lg:flex-row items-center justify-center gap-6 max-w-6xl mx-auto">
        <img
          src="/about.webp"
          alt="Nosotros"
          class="animacion animado rounded-2xl w-full max-w-xs md:max-w-md lg:max-w-sm"/>
        <p class=" animacion animado text-justify text-base leading-relaxed lg:pr-6">
          En <strong>Onix Dent</strong> creemos que una sonrisa saludable transforma
          vidas. Por eso, nuestro equipo de odontólogos altamente capacitados trabaja
          con tecnología avanzada y materiales de calidad para brindarte una experiencia
          única, cálida y confiable en cada visita. ¡Queremos verte sonreír!
        </p>
      </div>
    </div>
  </div>
</section>

<style>

</style>