<section id="contacto">

    <div class="bg-gray-300  p-8 items-center text-center">
        <div class="animation">      
            <h1 class="text-2xl text-azulprim font-bold">CONTÁCTANOS</h1>
            <div class="text-azulprim py-6 flex items-center justify-center space-x-6">
                <a href="https://wa.me/925545001" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-whatsapp" class="size-14 cursor-pointer hover:text-green-500 transition-colors"></ion-icon>
                </a>
                <a href="https://instagram.com/tu_usuario" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-instagram" class="size-14 cursor-pointer hover:text-pink-500 transition-colors"></ion-icon>
                </a>
                <a href="https://facebook.com/tu_usuario" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-facebook" class="size-14 cursor-pointer hover:text-blue-600 transition-colors"></ion-icon>
                </a>
            </div>
        </div>  
    </div>  
    
</section>
