<!-- NavBar -->
<header id="header" class="bg-azulprim text-white flex flex-col items-center lg:flex-row lg:justify-between lg:h-[10vh] lg:px-16 relative z-50">
    <div class="w-full px-2 pt-2 flex flex-row justify-between items-center">
      <a href="#inicio" class="h-full text-2xl font-bold">
        <img src="/logo.png" alt="OnixDent" class="h-full w-[90px] rounded" />
      </a>
  
      <!-- Icono del menú en móviles -->
      <ion-icon id="menu-toggle" name="menu-outline" class="size-7 cursor-pointer lg:hidden transition-transform duration-300"></ion-icon>
    </div>
  
    <!-- Menú de Navegación -->
    <nav
      id="nav-menu"
      class="bg-azulprim w-full max-h-0 overflow-hidden transition-all duration-1000 ease-in-out lg:overflow-visible lg:max-h-full lg:flex lg:flex-row lg:items-center lg:space-x-6 mt-2"
    >
      <ul
        id="nav-list"
        class="flex flex-col space-y-2 px-4 py-4 lg:p-0 lg:flex-row lg:space-y-0 lg:space-x-6 w-full"
      >
        <li><a href="#inicio" class="block py-2 px-4 rounded-md hover:bg-blue-500">Inicio</a></li>
        <li><a href="#nosotros" class="block py-2 px-4 rounded-md hover:bg-blue-500">Nosotros</a></li>
        <li><a href="#tratamientos" class="block py-2 px-4 rounded-md hover:bg-blue-500">Tratamientos</a></li>
        <li><a href="#ubicacion" class="block py-2 px-4 rounded-md hover:bg-blue-500">Ubicación</a></li>
        <li><a href="#contacto" class="block py-2 px-4 rounded-md hover:bg-blue-500">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {

        const header = document.getElementById("header");
        const menuToggle = document.getElementById("menu-toggle");
        const navMenu = document.getElementById("nav-menu");
        const navList = document.getElementById("nav-list");
        const mediaQuery = window.matchMedia("(min-width: 1024px)");
  
      let isOpen = false;
  
      function updateForScreenSize() {
        if (navMenu && menuToggle && navList) {
            if (mediaQuery.matches) {
            navMenu.classList.remove("max-h-0", "overflow-hidden");
            navMenu.classList.add("flex");
            navList.classList.remove("rounded-b-2xl");
            } else {
            navMenu.classList.remove("flex");
            navMenu.classList.add("max-h-0", "overflow-hidden");
            menuToggle.setAttribute("name", "menu-outline");
            isOpen = false;
            }            
        }

      }
  
      updateForScreenSize();
      mediaQuery.addEventListener("change", updateForScreenSize);
  
      if (menuToggle && navMenu && navList && header) {
        menuToggle.addEventListener("click", () => {
          isOpen = !isOpen;
  
          if (isOpen) {
            navMenu.classList.remove("max-h-0", "overflow-hidden");
            
            //navList.classList.add("rounded-b-2xl");
            
            navMenu.classList.add("max-h-[500px]"); // Ajusta según el alto del menú
            navMenu.classList.add("rounded-b-2xl")
            header.classList.add("rounded-b-2xl");
            menuToggle.setAttribute("name", "close-outline");

          } else {
            navMenu.classList.remove("max-h-[500px]");
            header.classList.remove("rounded-b-2xl");
            navMenu.classList.remove("rounded-b-2xl")
            navMenu.classList.add("max-h-0", "overflow-hidden");
            //navList.classList.remove("rounded-b-2xl");
            
            menuToggle.setAttribute("name", "menu-outline");
          }
        });
      }
    });
  </script>

  

  