<section id="inicio">

    <header class="relative bg-cover bg-center h-[92dvh] flex items-center justify-center text-white" style="background-image: url('/heroBanner.webp');">
        <div class="absolute inset-0 bg-black/50"></div> <!-- Capa oscura -->
        
        <div class="text-center relative z-10 w-100 md:w-2/3">
            <h1 class="text-5xl font-bold leading-snug">Tratamientos dentales de calidad en Arequipa</h1>
            <p class="animacion animado text-lg mt-4 mx-1 leading-relaxed">Especialistas en salud bucal, estética dental y tratamientos personalizados. <br> Agenda tu cita.</p>
            <a href="https://wa.me/925545001?text=Hola%2C%20quiero%20agendar%20una%20cita%20dental" target="_blank" rel="noopener noreferrer" class="mt-6 inline-block px-6 py-3 bg-blue-500 rounded-lg text-white text-lg font-semibold shadow-lg hover:bg-blue-600">
              Agendar cita
            </a>
        </div>
    </header>
  
</section>