<section id="ubicacion">

    <div class="bg-white py-10 px-14 items-center space-y-3 text-center md:px-36">
        <div class="">       
            <h1 class="text-2xl text-azulprim font-bold mb-4">UBICACIÓN</h1>
            <p class="animacion animado">Direccion de la clinica. Calle S/N, Distrito</p>

            <div class="flex justify-center rounded-2xl pt-2">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5412.805342154054!2d-71.53048669803817!3d-16.40290438150413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424aff3c12129b%3A0xad46ae0a32443668!2sColiseo%20Arequipa!5e0!3m2!1ses!2spe!4v1743817135174!5m2!1ses!2spe" 
                    width="600" 
                    height="450" style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="animacion animado rounded-2xl"
                ></iframe>
            </div>
        </div>
    </div>

</section>