---
import '../styles/global.css'

import Header from '../components/landing/Header.astro'
import Location from '../components/landing/Location.astro'
import Contact from '../components/landing/Contact.astro'
import Footer from '../components/landing/Footer.astro'

import ButtonsWhats from '../components/buttons/buttonsWhats.astro'

---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Onix Dent</title>
	<meta name="description" content="Conoce nuestros tratamientos dentales y equipo especializado. Agenda tu cita ahora.">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

	<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
</head>

<body class="font-underdog">	
	<Header></Header>
	
	<slot></slot>
	<Location></Location>
	<Contact></Contact>
	<Footer></Footer>	
	<ButtonsWhats></ButtonsWhats>
</body>

</html>
<script src="../scripts/scripts.js"></script>

